---
- name: Deploy 2048 Docker container on Azure VM
  hosts: all
  gather_facts: yes
  become: yes
  vars:
    ansible_ssh_pass: "P@ssw0rd2025!"        # ou ansible_ssh_private_key_file si tu utilises une clé
    docker_image: "evilroot/docker-2048"
    container_name: "docker-2048"
    exposed_port: 8080

  tasks:
    - name: Installer dépendances pour Docker
      apt:
        update_cache: yes
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present

    - name: Ajouter la clé GPG Docker
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Ajouter le repository Docker
      apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        state: present

    - name: Installer Docker et plugins
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-compose-plugin
        state: present
        update_cache: yes

    - name: Ajouter azureuser au groupe docker
      user:
        name: azureuser
        groups: docker
        append: yes

    - name: Pull de l'image Docker 2048
      community.docker.docker_image:
        name: "{{ docker_image }}"
        source: pull

    - name: Lancer le container Docker 2048
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ docker_image }}"
        state: started
        restart_policy: always
        published_ports:
          - "{{ exposed_port }}:80"
